<h1>Job Application</h1>


<p>Please fill this form with your information to receive the contanct information for this offer.</p>
<% form_for(@job_application, "/job_offers/apply/#{@job_offer.id}") do |f| %>


	<%= f.label :first_name %>
	<%= f.text_field :first_name %>

	<%= f.label :last_name %>
	<%= f.text_field :last_name %>

  <%= f.label :email %>
 	<%= f.text_field :applicant_email %>

  <%= f.label :expected_salary %>
 	<%= f.text_field :expected_salary %>

	<%= f.label :link_to_cv, {:caption => "Link to CV:"} %>
	<%= f.text_field :link_to_cv %>

	<hr/>
  <%= f.submit "Apply", :class => "btn btn-primary" %>
  <%= link_to 'Cancel', url_for(:job_offers, :latest), :class => "btn btn-secondary" %>
<% end %>
