<h1>Current Job Offers</h1>
<div class="search-box">
  <%- form_tag url(:job_offers, :search), method: :post, class: 'form-search' do %>
    <% csrf_token_field %>
    <%= text_field_tag :q,
      title: 'Query syntax: field_name:field value.' +
        " If you want to search by multiple conditions you've to divide them by ' & ' (e.g., title:some title & description:some description)."
    %>
    <%= submit_tag 'Search', class: 'btn btn-primary', id: 'search-button' %>
  <% end %>
</div>

<table class="table table-bordered">
	<tr>
		<th>Title</th>
		<th>Location</th>
		<th>Description</th>
		<th>Actions</th>
	</tr>
	<% @offers.each do | offer| %>

	<tr>
		<td>
			<%= offer.title %>
		</td>
		<td>
			<%= offer.location %>
		</td>
		<td>
			<%= offer.description %>
		</td>		
		<td>
			<%= link_to 'Apply', url_for(:job_offers, :apply, :offer_id => offer.id), :class => "btn btn-primary" %>
		</td>		
	</tr>

  <% end %>

</table>